<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name="com.example.demo.ConstraintDemo"
            android:exported="false" />
        <activity
            android:name="com.example.demo.CoordinatorLayoutDemo"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.demo.GridLayoutDemo"
            android:exported="true"></activity>
        <activity
            android:name="com.example.demo.ConstraintLayoutDemo"
            android:exported="true" />
        <activity
            android:name="com.example.demo.FrameLayoutDemo"
            android:exported="true" />
        <activity
            android:name="com.example.demo.TableLayoutDemo"
            android:exported="true" />
        <activity
            android:name="com.example.demo.TextInputLayoutDemo"
            android:exported="true" />
        <activity
            android:name="com.example.demo.RelativeLayoutDemo"
            android:exported="true" />
        <activity
            android:name="com.example.demo.LinearLayoutDemo"
            android:exported="true" />
        <activity
            android:name="com.example.demo.DatePickerDemo"
            android:exported="true" />
        <activity
            android:name="com.example.demo.AppBarDemo"
            android:exported="true" />
        <activity
            android:name="com.example.demo.tabLayout.TabLayout"
            android:exported="true" />
        <activity
            android:name="com.example.demo.SnackBarDemo"
            android:exported="true" />
        <activity
            android:name="com.example.demo.RadioButtonDemo"
            android:exported="true" />
        <activity
            android:name="com.example.demo.CheckboxDemo"
            android:exported="true" />
        <activity
            android:name="com.example.demo.ToggleButtonDemo"
            android:exported="true" />
        <activity
            android:name="com.example.demo.ToastDemo"
            android:exported="true" />
        <activity
            android:name="com.example.demo.ButtonDemo"
            android:exported="true" />
        <activity
            android:name="com.example.demo.MainActivity"
            android:exported="true" />
    </application>

</manifest>